{% extends 'base.html'%}

{% block content %}

<section class="hero">
    <h1>Welcome to Student Management Portal</h1>
    <p>Manage all your students in one dashboard</p>
    <a href="/students/" class="btn">View Students</a>
</section>

{% endblock %}

















<!-- {% load static %}
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <title>Student Portal</title>
    </head>

    <body>
        <h1>Welcome to Student Portal</h1>
        <p>Find all your academic info & course details here.</p>

        <h1>Course : {{title}}</h1>
        <h2>Instructor : {{instructor}}</h2>
    </body>
</html> -->